
:root
{
    --article-margin: 14%;
    --blue : #002770;
    --black : #222;
}

h1 {
    margin: 0;
    padding: 0;
}

hr
{
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom: 0.30vh solid #222;
}

article {
    display: flex;
    flex-direction: column;

    margin-left: var(--article-margin);
    margin-right: var(--article-margin);
    flex-grow: 1;
}

mark{

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px 4px 7px 5px;
    padding-left: 3px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 2px;
    background: rgb(39, 73, 136);

    color: #fff;
    font-weight: 300;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

}

a{
    color: var(--blue);
}


a:hover
{
    text-decoration: underline;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

pre {
    font-family: monospace;
    background-color: #fff !important;
    font-size: 1.3em !important;
    margin-left: var(--article-margin) !important;
    margin-right: var(--article-margin) !important;
    box-decoration-break: clone;
    padding-top: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: .5rem;
    overflow: auto;

}

code{
    overflow: auto;
}

body
{
    background-color:    #eee;
    text-rendering: optimizeLegibility;
}

.blog-presentation
{
    background-color: #eee;
    display: flex;
    flex-flow: column;
    flex-direction: column;
    justify-content: center;
}

#blog-main-title
{
    text-align: left;
    letter-spacing: 0.1vw;
    font-size: 2vw;
    font-weight: 700;
    padding-top: 5vh;
    margin-left: 2vh;
    margin-bottom: 5vh;
    color: #222;
}

.blog-article-title
{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    width: auto;
    padding-top: 5vh;
    margin-bottom: 5vh;
    color: #222;
}

.blog-banner
{
    margin-left: var(--article-margin);
    margin-right: var(--article-margin);
    margin-bottom: 2.7vh;
    display: flex;
}


.blog-separator
{
    margin: 0;
    height: 0.1vh;
}

.banner-img
{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
}

.profile-pic-box
{
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-items: center;

}
.profile-pic
{
    min-height: 10vh;
    max-height: 11vh;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-left: 1vw;
}

.blog-header
{
    display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: space-between;
}

.blog-title-line
{

    display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.title-link-section
{
    margin-left: 30%;
    margin-right: 5%;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.title-link
{
    text-decoration: none;
    color: #222;
    font-size: 2vw;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
    margin-left: 7%;
}

.title-link:hover
{
    text-decoration: underline;
}

.blog-footer
{
    display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 1vh;
    bottom: 0;
}

figure
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figcaption {
    
    margin: 0;
    padding: 0;
    margin-top: 0.5vh;
    font-size: 1em;
    min-height: 2vh;
    font-family: Arial;
    color: #555;
}


blockquote{
    display:block;
    background: #fff;
    padding: 15px 20px 15px 25px;
    position: relative;

    margin-left: var(--article-margin);
    margin-right: var(--article-margin);
    
    /*Font*/
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.2;
    color: #222;
    text-align: justify;
    
    /*Borders - (Optional)*/
    border-left: 10px solid #5a4a73;
  }
  
  blockquote::before{
    content: ""; /*Unicode for Left Double Quote*/
    
    /*Font*/
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;
    
    /*Positioning*/
    position: absolute;
    left: 5px;
    top:5px;
  }
  
  blockquote::after{
    /*Reset to make sure*/
    content: "";
  }
