{% extends "index-base.html" %}

{% block content %}
<article>
<h1 class="blog-article-title">
  {{ section.title }}
</h1>
<ul>
  <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  
  {% for page in section.pages %}
  <li><div> <a href="{{ page.permalink | safe }}">{{ page.title }}  ({{page.reading_time}}min)  </a> <p> {{page.date}} </p>  </div></li>
  {% endfor %}
</ul>
</article>
{% endblock content %}


{% block header %}
{% include "header.html" %}
{% endblock header %}

